@page "/client-credentials"
@using RW7.DotNetSecurityTools.ClientCredentials;

@inject RW7.DotNetSecurityTools.ClientCredentials.IClientCredentialsCreator _clientCredentialsCreator

<PageTitle>Create Client Credentials</PageTitle>

<h1>Create Client Credentials</h1>

<button class="btn btn-primary" @onclick="CreateClientCredentials">Create</button>
<br />
<br />

<p>
    <label><b>Client ID:</b> </label><label>@_clientId</label>
</p>
<p>
    <label><b>Client Secret:</b> </label><label>@_clientSecret</label>
</p>


@code {
    private string _clientId = string.Empty;
    private string _clientSecret = string.Empty;

    private void CreateClientCredentials()
    {
        var clientCredentials = _clientCredentialsCreator.Create();

        _clientId = clientCredentials.ClientId;
        _clientSecret = clientCredentials.ClientSecret;
    }
}
