@page "/jwk"
@using RW7.DotNetSecurityTools.JsonWebKeys;

@inject RW7.DotNetSecurityTools.JsonWebKeys.IJsonWebKeyCreator _jsonWebKeyCreator

<PageTitle>Create JWK</PageTitle>

<h1>Create JWK</h1>

<button class="btn btn-primary" @onclick="CreateJwk">Create</button>
<br/><br/>
<textarea rows="50" value="@_jwk" class="form-control">

</textarea>

@code {
    private string _jwk = string.Empty;

    private void CreateJwk()
    {
        var jwk = _jsonWebKeyCreator.Create();

        _jwk = jwk.JsonWebKeyString;
    }
}
